.TodoList {
    margin: 15px;
    width: 80%;
    border-top: 1px solid white;
    /*border-bottom: 1px solid white;*/
}

.TodoList p {
    color: #61DBFB;
    margin: 15px;
}

.TodoList__ul {
    padding: 0;
    margin: 15px;
}
.TodoList__ul li {
    list-style: none;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}